@import 'media-queries';

.banner {
  height: 240px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: black;

  background-size: cover;
  background-position: center center;

  @include breakpoint(sm) {
    height: 220px;
  }
}

.banner--mini {
  height: 160px;
}

.banner__image,
.banner__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*
 * Image layer
 */
.banner__image {
  background-color: black;
  z-index: 13;

  background-size: cover;
  background-position: center center;
  opacity: 0;

  // Little bit more than the height of container
  height: 350px;
  transition: opacity 1s ease;
}

.banner__image--active {
  opacity: 1.0;
}

.banner__content {
  background-color: rgba(0,0,0,0.5);
  z-index: 1337;

  padding: 14px 40px;
}

/*
 * Logo and slogan
 */
.banner__slogan {
  text-align: center;
  font-weight: 500;
  color: white;
  line-height: 1.05;

  max-width: 640px;
  margin: 0 auto;

  font-size: 22px;

  @include breakpoint(sm) {
    font-size: 20px;
  }

  @include breakpoint(xs) {
    font-size: 18px;
  }

  .banner--mini & {
    font-size: 20px;

    @include breakpoint(xs) {
      font-size: 16px;
    }
  }
}

.banner__logo-wrap {
  text-align: center;
  padding-top: 52px;

  margin: 0 auto;
  margin-bottom: 14px;

  @include breakpoint(xs) {
    max-width: 400px;
  }

  .banner--mini & {
    padding-top: 36px;
    max-width: 320px;
  }
}

.banner__logo {
  opacity: 0;
  max-width: 100%;
}

