@import 'colors';
@import 'media-queries';

/**
 * Posts
 */
.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 14px;
}

.post__header {
}

.post__title {
  font-size: 38px;
  line-height: 1.1;
  letter-spacing: -1px;

  @include breakpoint(sm) {
    font-size: 32px;
  }
}

.post__author {
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 400;
  color: #777777;

  @include breakpoint(sm) {
    font-size: 16px;
  }
}

.post__content {
  line-height: 1.67;
  margin-bottom: 22px;
  font-size: 17px;
  color: $textGray;

  margin-bottom: 90px;

  img {
    width: 100%;
    margin: 20px 0;
  }

  a {
    color: $textGray;
    border-bottom: 2px solid $pink;
    text-decoration: none;
    font-weight: 500;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }
}
