<footer class="site-footer">

  <div class="wrapper">
    <div class="who-we-are">
      <div class="logo"></div>
      <div class="text">
        Code Hipsters — это сообщество молодых энтузиастов, которые умеют решать проблемы и делать это красиво!
      </div>
    </div>

    <div class="socials">
      <a href="https://vk.com/codehipsters" class="network vk">Подписывайся на нас вконтакте</a>
      <div class="network ok"></div>
      <a href="https://github.com/codehipsters" class="network github">Форкай наши репозитории</a>
    </div>

    <div class="clearfix"></div>
    <div class="copyright">
      Copyright © 2013–2014 Code Hipsters HQ. Из Ростова с любовью.
    </div>
  </div>

</footer>
