@font-face {
  font-family: 'fontello';
  src: url('fonts/icons/fontello.eot?20439182');
  src: url('fonts/icons/fontello.eot?20439182#iefix') format('embedded-opentype'),
       url('fonts/icons/fontello.woff?20439182') format('woff'),
       url('fonts/icons/fontello.ttf?20439182') format('truetype'),
       url('fonts/icons/fontello.svg?20439182#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}