<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="main-page-header">
      <div class="intro-container">
        <img class="code-hipsters-logo" src="{{ 'images/code-hipsters-logo.svg' | prepend: site.baseurl}}"></img>

        <h1>Что происходит?</h1>
        <p class="intro-text">
          Приветик! <b>Code Hipsters</b> — это тусовка<br> программистов-хипстеров и хипстеров-программистов.
        </p>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
