---
layout: default
---

<div class="page-content">
  <div class="wrapper">

    <div class="post">

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">
          {% if page.author %}
            <span class="post-author"> {{ page.author }} </span>
          {% endif %}
          &#149;
          {{ page.localized_date }}
        </p>
      </header>

      <article class="post-content">
        {{ content }}
      </article>

      <script type="text/javascript">(function() {
        if (window.pluso)if (typeof window.pluso.start == "function") return;
        if (window.ifpluso==undefined) { window.ifpluso = 1;
          var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
          s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
          var h=d[g]('body')[0];
          h.appendChild(s);
        }})();</script>
      <div class="pluso-container">
      <div class="pluso" data-background="transparent" data-options="big,round,line,horizontal,nocounter,theme=04" data-services="vkontakte,facebook,twitter"></div>
      </div>

    </div>

  </div>
</div>
